header{
	margin-top:20px;
	.principal-menu{
		li{
			font-size: 14px;
			margin:10px;
			list-style: none;
			a{
			color: white;
			}
			
		}
	}
	.logus{
	margin-top:10px;
	}
	.tapita{
		margin-top:10px;
	}
	.tea-lovers{
		.principal{
		padding-top: 80px;
		}
		.scroll{
		padding-top:55px;
		}
	}
}