.info-te{
	@include marginSeccion;
	margin-bottom: 0;
	hr{
		border: 2px solid #000;
		width: 50px;
	}
	ul{
		margin-bottom: 50px;
		margin-top: 40px;
		margin-left: 30px;
	}
}

/*-------seccion footer-------*/
footer{
	background: rgb(65, 60, 60);
	ul{
		li{
			padding: 0 80px;
		}
	}
}