//  section pasion
.pasion{
	background-image: url(../img/parallax-3.jpg);
	background-size: cover;
	.logo-tea{
		@include marginSeccion;
		.texto{
			margin: 10% auto;
			h1{
				@include titleh1;
			}
			p{
				width: 50%;
				margin: auto;
				font-size: 20px;
				text-align: left;
			}
		}
	}
}
/*------seccion colores de tè---------*/
.colores{
	margin: 70px auto;
	color: #000;
	ul{
		li{
			width: 19%;
			overflow: hidden;
			h2{
				color: $color-secundario;
			}
		}
	}
}